<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- IE10 and below only -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<meta description="Save, search, and share Furry GIFs." />
<meta author="FurryGIF" />

<title><%= title %></title>

<link rel="stylesheet" href="/stylesheets/style.css" />

<script defer src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
